@import url('https://fonts.googleleapis.com/css?family=Poppins:400,500,600,700,900');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
    margin-top: 30px;
}

.container .box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
    border: solid 2px;
    color: limegreen;
}

.container .box::before {
    content: 'SOLO';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: limegreen;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box::after {
    content: 'KICKS';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: limegreen;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before, .container .box:hover::after {
    opacity: 0.2;
}

.container .box .name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .name {
    top: 40px;
    opacity: 1;
}

.container .box .buy {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%, 0, 75px);
    color: red;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .buy {
    bottom: 30px;
    opacity: 1;
}

.container .box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%, -50%, 50px);
}

.container .box .product {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 11;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 50px) rotate(-15deg);
}

.container .box:hover .product {
    transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
}

.container .box:nth-child(1) .circle, .container .box:nth-child(1) .buy {
    background: gray;
}

.container .box:nth-child(2) .circle, .container .box:nth-child(2) .buy {
    background: lightblue;
}

.container .box:nth-child(3) .circle, .container .box:nth-child(3) .buy {
    background: #654321;
}

.container .box:nth-child(4) .circle, .container .box:nth-child(4) .buy {
    background: yellow;
}

.container .box:nth-child(5) .circle, .container .box:nth-child(5) .buy {
    background: limegreen;
}

.container .box:nth-child(6) .circle, .container .box:nth-child(6) .buy {
    background: #fff;
}

.container .box:nth-child(7) .circle, .container .box:nth-child(7) .buy {
    background: #fff;
}

.container .box:nth-child(8) .circle, .container .box:nth-child(8) .buy {
    background: darkgreen;
}

.container .box:nth-child(9) .circle, .container .box:nth-child(9) .buy {
    background: black;
}

.container .box:nth-child(10) .circle, .container .box:nth-child(10) .buy {
    background: lime;
}

.container .box:nth-child(11) .circle, .container .box:nth-child(11) .buy {
    background: yellow;
}

.container .box:nth-child(12) .circle, .container .box:nth-child(12) .buy {
    background: lightyellow;
}

.heading {
    position: absolute;
    color: white;
    bottom: 95%;
    z-index: 111;
}

a:link, a:visited {
    color: white;
}

html, body {
    height: 150%;
    margin: 0;
}



@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}

.flex-center {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.outer-menu {
    position: absolute;
    top : 1%;
    left: 0;
    z-index: 1;
}

.outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
}

.outer-menu .checkbox-toggle:checked+.hamburger>div {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:before, .outer-menu .checkbox-toggle:checked+.hamburger>div:after {
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
    opacity: 0;
}

.outer-menu .checkbox-toggle:checked~.menu {
    pointer-events: auto;
    visibility: visible;
}

.outer-menu .checkbox-toggle:checked~.menu>div {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
}

.outer-menu .checkbox-toggle:checked~.menu>div>div {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease 0.4s;
    transition: opacity 0.4s ease 0.4s;
}

.outer-menu .checkbox-toggle:hover+.hamburger {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.outer-menu .checkbox-toggle:checked:hover+.hamburger>div {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.outer-menu .hamburger {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 0.5em 1em;
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    -webkit-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.outer-menu .hamburger>div {
    position: relative;
    -webkit-box-flex: 0;
    flex: none;
    width: 100%;
    height: 2px;
    background: white;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.outer-menu .hamburger>div:before, .outer-menu .hamburger>div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: inherit;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.outer-menu .hamburger>div:after {
    top: 10px;
}

.outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.outer-menu .menu>div {
    width: 200vw;
    height: 200vw;
    color: white;
    background: gray;
    opacity: .8;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-flex: 0;
    flex: none;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
}

.outer-menu .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    -webkit-box-flex: 0;
    flex: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.outer-menu .menu>div>div>ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
}

.outer-menu .menu>div>div>ul>li {
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
}

.outer-menu .menu>div>div>ul>li>a {
    position: relative;
    display: inline;
    cursor: pointer;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.outer-menu .menu>div>div>ul>li>a:hover {
    color: white;
}

.outer-menu .menu>div>div>ul>li>a:hover:after {
    width: 100%;
}

.outer-menu .menu>div>div>ul>li>a:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: #e5e5e5;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
}