@import url('https://fonts.googleleapis.com/css?family=Poppins:400,500,600,700,900');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

body{
  background-color: black;
}

.banner{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}

.navbar{
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: fixed
  
  /* padding-left: 10rem; */
}

.sub-Nav {
  width: 85%;
  margin: 0 auto;display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  z-index: 999;
  background-color: black
}

.logo{
    width: 80px;
    cursor: pointer;
    
    
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0%;
    background: limegreen;
    position: absolute;
    left: 0%;
    bottom: -10px;
    transition: 0.5s;

}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.8);
    border: solid 2px;
    border-color: limegreen; */
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 20px;
    font-size: 20px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid limegreen;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.buySell{
    background: limegreen;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}


.description{
    color: white;
    text-align: center;
    background-color: black
}

.deals{
    background-color: black;
    color: white;
}


.container
{
    flex-direction: row;
    display: flex;
    background-color: black;
    justify-content: center;
}
.container .card
{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin: 80px;
}
.container .card:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:hover:before
{
    clip-path: circle(300px at 80% -20%);  
}
.container .card:after
{
    content: 'Nike';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255,255,255,0.04);
}
.container .card .imgBx
{
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 900;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.container .card:hover .imgBx
{
    top: 0%;
    transform: translateY(-0%);
}
.container .card .imgBx img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-25deg);
    width: 270px;
}
.container .card .contentBx
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.container .card:hover .contentBx
{
    height: 210px;
}
.container .card .contentBx h2
{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container .card .contentBx .size,
.container .card .contentBx .color
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .contentBx .size
{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.container .card:hover .contentBx .color
{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.container .card .contentBx .size h3,
.container .card .contentBx .color h3
{
color: #fff;
font-weight: 300;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 2px;
margin-right: 10px;
}
.container .card .contentBx .size span
{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}
.container .card .contentBx .size span:hover
{
    background: #9bdc28;
}
.container .card .contentBx .color span
{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.container .card .contentBx .color span:nth-child(2)
{
    background: #9bdc28;
}
.container .card .contentBx .color span:nth-child(3)
{
    background: #03a9f4;
}
.container .card .contentBx .color span:nth-child(4)
{
    background: #e91e63;
}
.container .card .contentBx a
{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.container .card:hover .contentBx a
{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

.container .yeezy:after
{
    content: 'Yeezy';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 9em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255,255,255,0.04);
}

.resp_form{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    background: black;
    
}
.contact_us{
    max-width: 800px;
    background: black;
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border: 1px solid limegreen;
    border-radius: 4px;
  }
  .contact_us .text{
    
    font-size: 35px;
    font-weight: 600;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contact_us form{
    padding: 30px 0 0 0;
  }
  .contact_us form .form-row{
    display: flex;
    margin: 32px 0;
  }
  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
    color: limegreen;
   
  }
  form .form-row .textarea{
    height: 70px;
    
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.56);
    background-color: black;
    color: white;
  }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: limegreen;
  }
  .textarea textarea{
    resize: none;
    padding-top: 10px;
    background-color: black;
    color: white;
  }
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: black;
  }
  .textarea label{
    width: 100%;
    bottom: 40px;
    background: black;
  }
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: limegreen;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }
  .submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
  }
  .submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: #FDFC47;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.4s;
  }
  .submit-btn .input-data:hover .inner{
    left: 0;
  }
  .submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  @media (max-width: 700px) {
    .container .text{
      font-size: 30px;
    }
    .container form{
      padding: 10px 0 0 0;
    }
    .container form .form-row{
      display: block;
    }
    form .form-row .input-data{
      margin: 35px 0!important;
    }
    .submit-btn .input-data{
      width: 40%!important;
    }
  }

  .brands{
    /* margin-top: 500px;
    margin-bottom: 100px; */
    background-color: black;
    width: 60%;
    margin: 0% 0% 5% 20%;
  }
  .subBrands {
    width: 80%;
    margin: 0 auto;
  }

.col-7{
  width: 160px;
}

.col-7 img{
  width: 100%;
  cursor: pointer;
}

.row {
  display: flex;
}

.col-7 {
  flex: 33.33%;
  padding: 1px;
}

.container-footer{
max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;

}

.footer{
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 60px 0px 60px;
  
}

.footer p{
  color: white;
}

.footer h3{
  color: white;
  margin-bottom: 20px;
}

.footer-col-1,.footer-col-2,.footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1{
  flex-basis: 30%;
  
}

.footer-col-2{
  flex: 1;
  text-align: center;
}

.footer-col-2 img{
  width: 100px;
  margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 120px;
}

.footer hr{
  color: limegreen;
  height: 0.1px;
  margin: 20px 0;
  /* padding-right: 124%; */
}

/* .gallery {
  background: black;
  
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: black;
  counter-increment: gallery-cell;
}


.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}  */

.deals{
 text-align: center;
 margin: 20% 0% 4% 0%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}


.menu-wrapper {
  position: relative;
  max-width: 500px;
  height: 100px;
  margin: 1em auto;
  border: 1px solid limegreen;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
}

.menu {
  height: 120px;
  background: black;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.menu .item {
  display: inline-block;
  width: 100px;
  height: 100%;
  outline: 1px dotted limegreen;
  padding: 1em;
  box-sizing: border-box;
  color: #fff;
  
}

.paddle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3em;
}

.left-paddle {
  left: 0;
}

.right-paddle {
  right: 0;
}

.hidden {
  display: none;
}

.print {
  margin: auto;
  max-width: 500px;
}
.print span {
  display: inline-block;
  width: 100px;
}


.content .html_tag{
  text-decoration: none;
  color: white;
}


section{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #111;
  animation: animateColor 5s linear infinite;
}

@keyframes animateColor{
  0%
  {
      filter: hue-rotate(0deg);
  }
  100%
  {
      filter: hue-rotate(360deg);
  }

}

.text_scroll{
  position: relative;
  transform: skewY(345deg) translateY(-200px);
}

.text_scroll h2{
  position: relative;
  width: 100%;
  font-size: 8em;
  color: #fff;
  pointer-events: none;
  line-height: 1em;
  white-space: nowrap;
  text-shadow: calc(var(--x)) 100px 0 rgba(255, 255, 255, 0.1);
  transform: translateX(calc(0% - var(--x) * var(--i)));

}

.text_scroll h2 span{
  color: #0f0;
  margin: 0 10px;
}

.text_scroll h2 span:nth-child(even){
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.blurBackground {
  opacity: 0.5;
  
}

.about{
  margin-top:  130px;
}